header {
    width: 100%;
    height: 8.8rem;
    display: flex; /*isso faz os conteudos ficarem lado a lado invez de quebrar para baixo como o block faz */
    align-items: center; /*isso faz o conteudo ficar colado na direita, mas centralizado */
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    background: linear-gradient(89deg, #000205 -10.97%, #000205 116.69%);
}

header .container {
    display: flex; /* fez cada conteudo ficar lado a lado */
    align-items: center; /*fez centralizar o conteudo */
    justify-content: space-between; /*isso faz cada conteudo ficar de um lado */
}
header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem; /*isso fez o botton ficar afastado do nav */
}
header nav ul {
    display: flex;
    gap: 4.0rem; /* fez afastar os ul um do outro */
    
}
header nav ul li a {
    color: var(--gray-100);
    font-size: 1.6rem;
    letter-spacing: -0.48px;
    transition: opacity .5s ease;
}
header nav ul li a:hover {
    opacity: 0.6; /*isso faz escurecer um pouco a clicar na opcao */
}

.s-hero {
    position: relative;
    width: 100%;
    padding-top: 13.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /*isso faz cortar tudo que ficar de fora da div */
}
.s-hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 22rem;
    background-color: var(--pink-10);
    left: 0;
    bottom: 0;
    z-index: -1;
    
}
.s-hero .text {
    position: relative;
    width: 100%;
    max-width: 71.9rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6.4em;
}

.s-hero .text h1 {
    position: relative;
    font-weight: 600;
    letter-spacing: -1.68px;
    padding-bottom: 2.4rem;
}
.s-hero .text h1::before {
    position: absolute;
    content: '';
    width: 100%;
    max-width: 59.9rem;
    height: 2.2rem;
    background: url("../imgs/line-title.svg") no-repeat center center;
    left: 3.9rem;
    bottom: 2.1rem;
    z-index: -1;
    
}

.s-hero .text p {
   
    color: var(--gray-300);
    max-width: 55.6rem;
    margin: 0 auto;
    margin-bottom: 3.2rem;
    letter-spacing: -0.54px;

}
.s-hero .text .arrow {
position: absolute;
left: 5.5rem;
bottom: 1.7rem;
}
.s-hero .ilustra {
    padding: 0 15px;
}

.s-digital {
    position: relative;
    width: 100%;
    padding-top: 13.3rem;
    display: flex;
    align-items: center;
    overflow: hidden; /*isso faz cortar tudo que ficar de fora da div */
}
.item-digital .container {
    display: flex;
}


